/* установим отступ 1rem от нижнего края элемента */
.text-field {
    margin-bottom: 1rem;
}
/* стили для input */
.text-field__input {
    width: 800px;
    height: 50px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;;
}
.button-style {
    width: 100px;
    height: 25px;
    font-family: inherit;
    font-size: 13px;
    border-radius: 5px;
}
